<div class="row trades">
  <div class="col-md-2">
  </div>
  <div class="col-md-1">
    <% if t.trade_type_id == 1 %>
      <span class="glyphicon glyphicon-apple proposed-swap-type" aria-hidden="true"></span>
    <% elsif t.trade_type_id == 2%>
      <span class="glyphicon glyphicon-time proposed-swap-type" aria-hidden="true"></span>
    <% else%>
      <span class="glyphicon glyphicon-leaf proposed-swap-type" aria-hidden="true"></span>
    <% end %>
    <div class="swap-type-label"><%= t.trade_type.name %></div>
  </div>
  <div class="col-md-4 trades">
    <h5><%= t.consumer.name %></h5>
    <p>Message: <%= t.message %></p>
  </div>
