.jumbotron.browse-jumbotron
  .header.text-center
    h2 Browse for Local Crops
    p Ditch the supermarket and browse excess crops in your area. 
  button.btn.btn-success.center-block
    = link_to 'Post A New Crop', new_crop_path 
  
