<div class="jumbotron browse-jumbotron">
  <div class="header text-center">Browse for Local Crops</div>
  <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
  <button type="button" class="btn btn-success center-block">
    <div><%=link_to 'Post A New Crop', new_crop_path %></div>
  </button>
</div>
