- if crop.is_ripe? 
  h6.ripe RIPE NOW! 
- else 
  h6.card-subtitle.text-muted Ripe in #{distance_of_time_in_words_to_now(crop.ripe_on)}
- if crop.about_to_expire?
  h6.card-subtitle.expire Expires in #{distance_of_time_in_words_to_now(crop.expires_on)}
- else 
  h6.card-subtitle.text-muted Expires in #{distance_of_time_in_words_to_now(crop.expires_on)}
h6.card-subtitle.text-muted Posted #{distance_of_time_in_words_to_now(crop.created_at)}
h6 #{crop.user.zip_code} 
p.card-text #{crop.description}
