<% if current_user %>
  <% if crop.wishlisted?(current_user) %>
    <span class="wishlist-browse wishlist-shared animated wishlisted">♥</span>
  <% else %>
    <span class="wishlist-browse wishlist-shared hvr-grow"><%= link_to "♥", wishlists_path(wishlist: {crop_id: crop.id, user_id: current_user.id}), method: :post, remote: true%></span>
  <% end %>
<% end %>
