<div class="container browse-crops">
  <%= render 'header' %>
  <%= render 'sort' if current_user %>
  <div class="row">
    <% @crops.each do |crop| if @crops.present? %>
      <%= render partial: 'crop', locals: { crop: crop } %>
    <% end %>
  <% end %>
  <%= paginate @crops if current_user %>
</div>
