<div class="container">
  <h3 class="text-center">Search for Local Crops</h3>
    <p class="text-center">Ditch the supermarket and search for crops in your area. </p>
    <input id='search' class='search-crops' placeholder='Enter Your Zip Code' />
    
    <!--  <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Search</a> -->
    <div id="map"></div>
    <div clas="leaflet-control-search">

    </div>

</div>
