

<div class="container leaftlet-container map">
  <h3 class="text-center">Search for Local Crops</h3>
    <p class="text-center">Ditch the supermarket and search for crops in your area. </p>
    <div class="leaflet-control-search leaftlet-control">
      <label class="search-input" for="searhtext9"></label>
      <input class="search-input" type="text" autocomplete="off" placeholder="Enter Your Zip" />
      <a class="search-cancel" href="#" title="cancel"></a>
      <a class="search-button" href="#" title="Enter Your Zip"></a>
    </div>

<div class="map">
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=27001&key=AIzaSyBm9VDymfe2KCxM-0aCEU6URsrltcSIFWU" allowfullscreen></iframe>
</div>
