/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

//= require leaflet
//= depend_on_asset "layers.png"
//= depend_on_asset "layers-2x.png"
*/

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "crops";
 @import "users";


 *, *::before, *::after {
   box-sizing: border-box;

 }
 $default-bttncolor: #d37538;
 $default-hover-bttncolor: #CF6622;
 $default-focus: #ffef99;


body {
  background-color: #F5F5F5;
  padding-top: 66px;
}

//Sign in Page
main.login-form {
  background-color: white;
  margin-top: 50px;
  padding-top: 10px;
  border-radius: .3em;
  padding-bottom: 25px;
  color: #323232;
  opacity: .96;
  color: #3b444b;
  border: solid #fefdfb;
  position: relative;
}

section.sign-in-form {
  padding-left: 38px;
}

.sign-in-title {
  margin-left: 0px;
  text-align: center;
}

label {
  font-size: 15.5pt;
  text-align: left;
}

h1 {
  padding-bottom: 5px;
  text-align: left;
  font-size: 22pt;
  margin-bottom: 5%;
  color: #3b444b;
}

a {
  color: #d37538;
}

.btn {
  a {
    color: white;
  }
}

.nav-link {

  font-weight: 500;
  font-size: 12pt;
  padding: 20px;
}

.nav-link:hover {
  color: #CF6622;
}

//Navbar

#notice {
 color: green;
 padding-top: 10px;
 padding-left: 10px;
}

#alert {
 color: red;
 padding-top: 10px;
 padding-left: 10px;
}

.crop_name {
 font-size: 20px;
}

.details {
 font-size: 16px;
}

.btn {
   margin-top: 20px;
}

.crop_name {
   border-radius: 5px;
}

// .background_image {
//
//   background-image: image-url('veggie1.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   background-attachment: fixed;
//   position: static;
//
//   }

body.backg {
  background: image-url('tomatoes.jpg') no-repeat center center fixed;
}

.login-button {
  background-color: #d37538;
  width: 32%;
  font-weight: bold;
  margin-left: 30%;
  border: solid #d37538;
  font-weight: bolder;
  font-size: 13pt;
  color: #FDFDFD;
  float: left;
  padding-right: 10px;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #CF6622;
}

.img {
  vertical-align: text-top;
  padding-bottom: 300px;

}

h4.post-crop-title {
  text-align: left;

}
a.nav-text {

  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  margin-top: -15px;
}

a.nav-a {
  font-size: 13pt;
  margin-right: 20px;
  margin-top: 9px;
  vertical-align: baseline;
}

.nav.navbar-nav {

  margin-left: 50%;
  padding-right: 20px;
  color: #d37538;

}

navbar-brand {
  margin-bottom: 30px;
  width: 150px;
}

button.btn.btn-default.btn-sm.dropdown-toggle {
  margin-left: 900px;
  background-color: #d37538;
}

button.btn.btn-default.btn-sm.dropdown-toggle:hover {
  background-color: #CF6622;
}

input#email {
  margin-left: 55px;
  height: 25px;
  width: 55%;
  color: black;
  vertical-align: text-bottom;
}

input#email:focus {
  border: solid #e5e5e5;

}

input#password {
  margin-left: 13px;
  width: 55%;
  color: black;
  vertical-align: text-bottom;

}

input#password:focus {
  border: solid #e5e5e5;
}

.container-fluid {
  background-color: #f0eeee;
  border-bottom: solid #eae3e3 1px;
}

// map for leaflet

#map {
  height: 500px;
  width: 800px;
  top: 0;
  bottom: 0;
  border-radius: .3;
}


svg {
  width: 1000px;
  height: 500px;
  border: 1px solid lightgrey;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
}

path {
  stroke: black;
  fill: none;
}

.tick {
  stroke: black;
}

circle {
  stroke: darkblue;
  fill: lightblue;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.x.axis path {
  display: none;
}

//map styling code

.map {
  width: 100%;
  height: 100%;
  text-align: center;
}

.crop-weight-field {
  color: black;

}

input.search-crops {
  width: 100%;
}



.sign-up {
  padding-left: 165px;
}

.trade-form-label {
  margin-left: 15px;
}

.trades {
  margin-left: 32px;
}

.swap-message {
  height: 100px;
  width: 350px;
}

.swap-type-selector {
  font-size: 20px;
  margin-top: 3px;
}

.swap-action {
  margin-left: 0px;
  margin-bottom: 20px;
}

.swap-history-title {
  margin-left: 15px;
}

.proposed-swap-type {
  font-size: 2.2em;
  margin-left: 30px;
}
