/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "crops";
 @import "users";


 *, *::before, *::after {
   box-sizing: border-box;

 }
 $default-bttncolor: #d37538;
 $default-hover-bttncolor: #CF6622;
 $default-focus: #ffef99;

main.login-form {
  background-color: #D9CAA5;
  padding-top: 20px;
  border-radius: .3em;
  padding-bottom: 25px;

}

  //Navbar
  #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

body {
    padding-top: 60px;
}

#notice {
 color: green;
}

#alert {
 color: red;
}

  body {
  	padding-top: 60px;
  }

  .crop_name {
   font-size: 20px;
  }

   .details {
   font-size: 16px;
   }

   .btn {
     margin-top: 20px;
   }

   .navbar-fixed-top {
     border-style: solid;
     border-bottom: thin solid black;
   }

   .crop_name {
     border-radius: 5px;
   }
