// Place all the styles related to the Crops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//

$default-focus: #ffef99;


main.container {
    width: 100%;
    max-width: 720px;
  }


.crop-form {
  background-color: #D9CAA5;
  opacity: .8;
  border-radius: .3em;
  padding-bottom: 25px;
}

.crop-description {
  margin-bottom: 15px;
}

.crop-description:focus {
    background-color:  $default-focus;
}

.crop-weight {
  margin-bottom: 20px;
}
.crop-weight:focus {
  background-color:  $default-focus;
}
