// Place all the styles related to the Crops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//




main.container {
  max-width: 500px;
}

h1 {
  margin-top: 30px;
}

.crop-form {
  background-color: #D9CAA5;
  opacity: .8;
  border-radius: .3em;
  padding-bottom: 25px;
  margin-top: 45px;
}

.crop-description {
  margin-bottom: 15px;
  max-width: 400px;
}

.crop-description:focus {
    background-color:  #ffef99;
}

.crop-weight {
  margin-bottom: 20px;
  max-width: 400px;
}
.crop-weight:focus {
  background-color: #ffef99;
}

.crop-button {
  background-color: #d37538;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.crop-button:hover {
  background-color: #CF6622;
}
