// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$default-focus: #ffef99;

.new-user-form{
  background-color: #D9CAA5;
  opacity: .8;
  border-radius: .3em;
  padding-bottom: 20px;
  margin-top: 45px;
  opacity: .96;
  color: #FDFDFD;
  width: 40%;
}

h1 {

  margin-right: 8px;
  margin-bottom: 10px;
}

.new-email:focus {
 border: solid #e5e5e5;
}

.new-password:focus {
  border: solid #e5e5e5;
}

.new-name:focus {
 border: solid #e5e5e5;
}

.new-phone-number:focus {
border: solid #e5e5e5;
}

.new-zip-code:focus {
 border: solid #e5e5e5;
}

.new-description:focus {
  border: solid #e5e5e5;
}

.new-button {
  background-color: #d37538;
  width: 32%;
  font-weight: bold;
  font-size: 12pt;
  border: solid #d37538;

}

.crop-posted {
  margin-left: 5px;
}
.user-crop-weight {
  margin-bottom: -20px;
}

.move-right {
  margin-left: 450px;

}

.pending-trades {
  border-top: 1px solid #d37538;
  padding-top: 10px;
  padding-left: 10px;
}

.pending-text {
  padding-left: 10px;
}
.profile-wrapper {
  width: 100%;

}

.panel-heading {
  font-size: 14pt;
}

.crop-name {
  margin-bottom: -500px;
}
.new-button:hover {
  background-color: #CF6622;
}
