// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$default-focus: #ffef99;

.new-user-form{
  background-color: white;
  margin-top: 50px;
  padding-top: 10px;
  border-radius: .3em;
  padding-bottom: 25px;
  color: #323232;
  opacity: .96;
  color: #3b444b;
  border: solid #fefdfb;
  position: relative;
}

h1 {

  margin-right: 8px;
  margin-bottom: 10px;
}

.new-email:focus {
 border: solid #e5e5e5;
}

.new-password:focus {
  border: solid #e5e5e5;
}

.new-name:focus {
 border: solid #e5e5e5;
}

.new-phone-number:focus {
border: solid #e5e5e5;
}

.new-zip-code:focus {
 border: solid #e5e5e5;
}

.new-description:focus {
  border: solid #e5e5e5;
}

.new-button {
  background-color: #d37538;
  width: 32%;
  font-weight: bold;
  font-size: 12pt;
  border: solid #d37538;
  border-radius: 5px; 
}

.new-button:hover {
  background-color: #CF6622;
}
