<header class="navbar-fixed-top">
    <div class="container">
        <%= image_tag asset_url ("cropswap-logo.png") %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <% if session[:user_id]%>
         <li><%= link_to 'Logout', session_destroy_path, method: :delete%></li>
       <% else %>
         <li> <%= link_to "Log in", session_new_path %> </li>
       <% end %>



            </ul>
        </nav>
    </div>
</header>
